.App {
    text-align: center;
    font-family: monospace;
}

nav ul {
    list-style: none;
}

nav ul li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    display: inline-block;
    padding: 10px;
}

th {
    text-align: left;
}